<h1>Carrito ID {{cart._id}}</h1>

<button class="go-back-btn">
    <a href="/products">Volver</a>
</button>

{{#if cart.products}}
<table>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
    </tr>

    {{#each cart.products}}
    <tr>
        <td>{{product._id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>${{product.price}}</td>
        <td>{{quantity}}</td>
        <td>${{total}}</td>
    </tr>
    {{/each}}
</table>

<h2>Total del carrito ${{cart.total}}</h2>

{{else}}
<h2>No hay productos en el carrito</h2>
{{/if}}